/* 
    Document   : style
    Created on : 17/06/2014, 11:06:43
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-srhekv');
    src: url('fonts/icomoon.eot?#iefix-srhekv') format('embedded-opentype'), url('fonts/icomoon.woff?-srhekv') format('woff'), url('fonts/icomoon.ttf?-srhekv') format('truetype'), url('fonts/icomoon.svg?-srhekv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE603:before {
    content: "\e603";
}

.icon-facebook:before {
    content: "\e600";
}

.icon-twitter:before {
    content: "\e601";
}

.icon-pinterest:before {
    content: "\e602";
}

*:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

body {

    background: #f6f6f6;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 16px;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    width: 100%;
}
#wrap{
    min-height: 100%;
}
html,body{
    height:100%;
}

/*=================================================================
header
===================================================================*/
header {
    margin: 50px auto;
    text-align: center;
    width: 1060px;
}

/*=================================================================
Nav
===================================================================*/
nav {
    background-color: rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    height: 25px;
    position: relative;
    text-align: center;
    width: 920px;
}

nav a {
    color: #000;
    display: block;
    font-size: 1.22em;
    font-weight: lighter;
    padding: 10px 40px;
    box-sizing: border-box;
}

nav li a:hover {
    background: #005ABC;
    color: #fff;

}

nav li {
    display: inline-block;
    vertical-align: middle;
}

#nav {
    left: 50%;
    margin-left: -440px;
    position: absolute;
    top: -10px;
}

#network {
    position: absolute;
    right: 10px;
    top: -6px;
}

#network a {
    background: #005ABC;
    border-radius: 50%;
    color: #fff;
    line-height: 0;
    padding: 8px;
}

#network .twitter {
    background: #009bff;
}

#network a:hover {
    background: #272822;

}

/*=================================================================
Footer
===================================================================*/
footer {
    background: #000;
    color: #9E9E9E;
    font-size: .8em;
    font-weight: 300;
    min-width: 100%;
    padding: 5px 0;
    text-align: center;
}

footer a {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

/*=================================================================
La agencia
===================================================================*/
#la-agencia {
    margin: 0 auto;
    position: relative;
    width: 990px;
    padding: 0;
}

#la-agencia li {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 7px 0 0;
    width: 320px;
}

.panel {
    cursor: pointer;
    height: 440px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
}

.panel .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

/*=================================================================
pop up
===================================================================*/
.back-pop-up {
    background: rgba(255, 255, 255, 0.9);;
    bottom: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 100%;
    width: 100%;
    transition: all .8s ease;
    z-index: 1000;
}

.close {
    cursor: pointer;
    position: absolute;
    right: -50px;
    top: -50px;
}

.content-pop-up {
    margin: -155px -495px;
    height: 310px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 990px;
}

.content-slider {
    width: 578px;
    display: inline-block;
}

.text-slider {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 400px;
}

.text-slider h2 {
    font-size: 1.9em;
    line-height: 1.35em;
    margin-top: -5px;

}

/*=================================================================
Client
===================================================================*/
#clients {
    margin: 10px auto 30px;
    width: 990px;
}

.title-clients, .slide-client {
    display: inline-block;
    vertical-align: middle;
}

.slide-client {
    width: 900px;
    position: relative;
}

.flex-direction-nav {
    display: none;
}

.flex-control-paging {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    margin-left:-50px;
    top: 120%
}

.flex-viewport {
    width: 900px;
}

.slider-client .slides li {
    text-align: center;
    height: 150px;

}
.flex-control-paging li{
    display: inline-block;
    margin: 0 5px;
    zoom: 1;
}
.flex-control-paging li a{
    width: 15px;
    height: 15px;
    display: block;
    background: #005ABC;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active{
    background: #000;
}
.content-slider .flex-control-paging{
    left: 585px;
    top: 103%;
}
/*=================================================================
Sound
===================================================================*/
#sound{
    background: #005ABC;
    cursor: pointer;
    height: 25px;
    right: 15px;
    padding: 3px 3px 3px 7px;
    position: fixed;
    top:15px;
    width: 40px;
}
.body-speaker{
    background: #fff;
    border-radius: 2px 0 0 2px;
    display: inline-block;
    height: 10px;
    vertical-align: top;
    width: 5px;
    margin-top: 6px
}
.speaker{
    border-bottom: 8px solid rgb(250, 246, 246);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    height: 0;
    margin-left: -7px  ;
    -webkit-transform: rotate(270deg);
    width: 10px;
}
.waves{
    width: 10px;
    height: 20px;
    background-color: rgb(244, 239, 239);
    border-radius: 100%;
    position: absolute;
    top: 6px;
    right: 7px
}
.waves:before{
    content: "";
    width: 100%;
    height: 110%;
    background: #005ABC;
    position: absolute;
    right: 2px;
    top: -5%;
    border-radius: 100%;
}
.w2{
    right: 12px
}
.w3{
    right: 17px
}
/*=================================================================
state
===================================================================*/
.show {
    top: 0;
}
.hidden{
    display: none;
}