#u1083-4
{
	font-family: cabin-condensed-n5, sans-serif;
}

#u1085-4
{
	font-family: cabin-condensed-n5, sans-serif;
}

#u999-4,#u558-4,#u654-4,#u836-4,#u915-4,#u747-4,#u525-4,#u620-4,#u886-4,#u995-4,#u241-4,#u145-4,#u206-4,#u425-4,#u332-4,#u388-4
{
	font-family: cabin-condensed-n5, sans-serif;
}

